# Dependencies
node_modules/
.pnpm-store/

# Turborepo
.turbo
dist/
build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/

# Build outputs
.next/
out/
.angular/

# Misc
*.lock
pnpm-lock.yaml
